
$text-color: #fbfbfb;
$text-second-color: #b7bacd;
$bg-color: #212434;
$header-color: #2b2f3f;
$price-color: #ffffff;
$sale-color: #fedc3f;
$star-color: #ffdd3f;
$btn-color: #13e18c;
$icon-non-active: #8d90a3;