.whatWeDo {
    padding-top: 120px;
    padding-bottom: 114px;
}

.icon-title {
    margin: 38px auto;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    text-align: center;
    color: $black-color;
}

.icon {
    display: block;
    font-size: 84px;
    text-align: center;
    margin: 90px auto 30px auto;
}