$blue-color: #5474fd;
$white-color: #fff;
$white-text-color: #e8e8e8;
$card-color: #232323b7;
$grey-card-color: #333333;
$grey-footer-color: #232323;
$grey-color: #999999;
$title--inner: #fefefe;


$hover-color: rgba(133, 133, 202, 0.541);