* {
    box-sizing: border-box;
    transition: all .1s ease-in;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

ul {
    padding-left: 0;
    list-style-type: none;
}
h3 {
    color: #ffffff;
    font-size: 24px;
}
h4, p {
    font-size: 16px;
    color: #fff;
}
span {
    color: #fff;
    font-size: 14px;
}
.main-container {
    width: 1000px;
    margin: 0 auto;
    background-color: #3399cc;
    border: 25px solid #2b81ac;
}
.container {
    width: 800px;
    margin: 0 auto;
}
.row1 {
    display: inline-block;
    width: 800px;
    font-size: 0;
}
.row2 {
    display: inline-block;
    width: 800px;
    font-size: 0;
}
.item {
    display: inline-block;
    border: solid #fff;
    text-align: center;
}
/*colors*/
.color1-1 {
    width: 33.33%;
    background-color: #3399cc;
}
.color1-2 {
    width: 33.33%;
    background-color: #33cccc;
}
.color1-3 {
    width: 33.33%;
    background-color: #996699;
}
.color2-1 {
    width: 25%;
    background-color: #c24747;
}
.color2-2 {
    background-color: #e2674a;
}
.color2-3 {
    background-color: #ffcc66;
}
.color2-4 {
    background-color: #99cc99;
}
.color3-1 {
    background-color: #669999;
}
.color3-2 {
    background-color: #cc6699;
}
.color3-3 {
    background-color: #339966;
}
.color4 {
    background-color: #666699;
}
.wrapper:hover .item:not(:hover){
    opacity: 0.5;
}