.section-gallery {
    background-color: #ffe92f;
    padding-top: 100px;
    padding-bottom: 120px;
}
.section-gallery__title {
    color: #262626;;
}

.gallery-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 100%;
}
.img-shadow {
    box-shadow: 0 0 10px black;
}

.inner--row {
    flex-direction: row;
    flex-wrap: nowrap;
}
.btn--gallery {
    background-color: #5585a2;
    margin-bottom: 0;
}
.img-wrapper {
    margin-top: 20px;
}