/* @font-face {
  font-family: url(../fonts/fa-solid-900.woff2) format('woff2');
  font-weight: 900;
} */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.title {
    font-family: 'Raleway';
    font-size: 90px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}

.subtitle {
    line-height: 1.47;
    font-size: 17px;
    margin-bottom: 47px;
    color: #fff;
    max-width: 574px;
    margin: 0 auto 47px;
    text-align: center;
}

.section__title {
    line-height: 0.42;
    margin-bottom: 34px;
    &--primary {
        font-size: 60px;
        color: #262626;
        font-weight: 900;
    }
    &--secondary {
        font-size: 90px;
        color: #fff;
        font-weight: 700;
    }
}
.section__description {
    font-size: 17px;
    line-height: 1.59;
    margin-bottom: 30px;
    &--dark {
        color: #262626;
    }
    &--light {
        color: #fff;
    }
}
.section {
    // max-width: 100vw;
    position: relative;
    padding-top: 50px;
    &--header {
        background: url(../images/header_bg.png) no-repeat center/cover;
        padding: 50px 0 404px;
    }
}
  
.section__scroll-icon {
    position: absolute;
    bottom: 69px;
    transform: translateX(50%);
    left: 50%;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 258px;
  }
  .burger__menu i {
      font-size: 30px;
  }
  .burger__menu a {
    color: black;
}
  
  .nav__link {
    font-size: 16px;
    font-weight: 700;
    color: #262626;
    text-decoration: none;
    margin-left: 35px;
    position: relative;
    &:hover {
        color: #262626;
    }
    &::before {
        content: '';
        width: 0;
        background-color: #ff6033;
        height: 3px;
        position: absolute;
        top: -9px;
        transition: all 0.5s;
    }
    &:hover::before {
        content: "";
        width: 100%;
    }
  }
  
  .button {
    padding: 14px 25px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
    font-size: 20px;
    color: #fff;
    border: none;
    line-height: 1.35;
    &--primary {
        background-color: #ff6033;
    }
  }
  .logo {
      height: 100%;
      & img {
        max-width: inherit;
      }
  }