.container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 1200px;
    height: 600px;
    margin: 80px auto;
    padding: 80px 15px;
    background-color: rgb(245, 199, 131);
}
.card {
    flex-basis: 400px;
    height: 441px;
    background-color: #ffffff;
    margin: 0 15px;
    padding-bottom: 36px;
}
h2 {
    /* margin: 0 auto 23px auto; */
    font-family: 'Chicle', cursive;
    font-size: 70px;
    line-height: 0.34;
    letter-spacing: 1.75px;
    text-align: center;
    color: #02995b;
}
h3 {
    margin: 38px 0 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    text-align: center;
    color: #333333;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.5px;
    text-align: center;
    color: #686464;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
}
.card:hover {
height: 500px;
transition: 0.5s ease-in;
}