* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    padding: 65px auto;

}
.header {
    width: 1040px;
    height: auto;
    margin: 0 auto 106px;
    padding-top: 65px;
    position: relative;
    &__pretitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 4px;
        line-height: 19px;
        color: #303030;
        text-align: center;
        text-transform: uppercase;
    }
    &__title {
        margin-top: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 86px;
        text-align: center;
        text-transform: uppercase;
    }
}
.triangle {
    position: absolute;
    top: 250px;
    left: -60px;
}
.plus {
    position: absolute;
    top: 40px;
    right: 130px;
}
