@import "fonts.scss";
@import "mixins.scss";

.header {
    background-color: #f2f2f2;
}
.tophead {
    display: inline-flex;
    font: {
        family: 'Lato', sans-serif;
        size: 9px;
    }
    color: $font-color1;
}
.content-padding {
    padding: 15px 75px 15px 75px;
}
.tophead-icon {
    margin-right: 20px;
    margin-left: 8px;
}
.tophead__bar {
    display: inline-flex;
    margin-left: 700px; //edit dimension
    text-transform: uppercase;
}
.tophead__bar-item {
    display: inline-block;
    }
.tophead__bar-line {
    display: inline;
    border-right: solid 1px $font-color1;
    margin: {
        left: 35px;
        right: 35px;
    }
}
.tophead__bar-item a,
.tophead a {
    text-decoration: none;
    &:visited {
        color: $font-color1;
    }
    @include orange-hover();
        cursor: pointer;
}
.tophead__menu {
    display: flex;
    height: 128px;
    flex-direction: row;
    justify-content: space-between;
    background-color: $font-color2;
}
.tophead__menu-left {
    display: flex;
    width: 330px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font: {
        family: 'PlayfairDisplay-Italic';
        size: 18px;
    }
}
// .tophead__menu-left-item {
//     display: flex;
// }
@mixin blue-hover {
    &:hover {
        border: $hover-color1 2px solid;
    }  
}
.tophead__menu-left a {
    @include blue-hover();
    text-decoration: none;
    text-transform: uppercase;
    color: $font-color1;
  }

.tophead__menu-logo {
    // margin-left: auto; если включить - толкает боковые элементы вкрай
    // margin-right: auto;
    font: {
        family: 'PlayfairDisplay-Italic';
        size: 74px;
    }
}   
.tophead__menu-logo a {
   @include blue-hover();
    text-decoration: none;
    color: $font-color1;
} 
.tophead__menu-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tophead__menu-right-social {
    display: inline-flex;
    width: 174px;
    justify-content: space-between;

}
.icon__social {
    width: 34px;
    fill: #dac192;
    &:hover {
        fill: $hover-color1;
    }
}
.tophead__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 52px; //push element to right side
    width: 90px;
    height: 35px;
    background-color: $font-color1;
    }
.tophead__button-text {
    font: {
        family: 'Lato-Bold';
        size: 12px;
}
    text-transform: uppercase;
    color: $font-color2;
}
.tophead__button-firstLine {
    // width: 1px;
    margin-left: 10px;
    height: 10px;
    border: 1px $font-color2 solid;
    background-color: $font-color2;
    transform: rotate(135deg);
}
.tophead__button-secondLine {
    // width: 1px;
    margin-left: 4px;
    height: 10px;
    border: 1px $font-color2 solid;
    background-color: $font-color2;
    transform: rotate(45deg);
}