//variables block
$font-color1: #222222;
$font-color2: #ffffff;
$hover-color1: #3ec2f7;

//mixins block
@mixin orange-hover {
    &:hover {
        border: sandybrown 2px dotted; //orange hover for <a>
    }
}
@mixin button {
    &:hover {
        box-shadow: 10px $font-color1;
        border: 2px $hover-color1;
    }
}