@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background: #22c1c3;
  background: -o-linear-gradient(45deg, #22c1c3 0%, #57c09f 24%, #fdbb2d 100%);
  background: linear-gradient(45deg, #22c1c3 0%, #57c09f 24%, #fdbb2d 100%);
  height: 100vw;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}

.box {
  width: 800px;
  margin: 20px auto;
}
.box__btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;
  background-color: #22c1c3;
  border: 1px solid #fdbb2d;
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}
.box__btn:hover {
  cursor: pointer;
}

input[type=search] {
  width: 100%;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
input[type=search]:focus {
  outline: none;
}

.favourites {
  width: 120px;
  height: 40px;
  margin: 10px auto;
  border: 2px solid #22c1c3;
  background-color: #fdbb2d;
}

.btn-del {
  width: 100px;
  background-color: #6ef17996;
}

.btn-add {
  width: 100px;
  background-color: #6e8df196;
}