@keyframes logoAnimate {
    from {
        margin-top: -50px;
    }
    to {
        margin-left: 0;
    }
}

@keyframes cardAnimate {
    from {
        margin-top: -50px;
    }
    to {
        margin-left: 0;
    }
}

